<a-entity
  wrapper="pivot: ${pivot}; selector: #${model}"
  class="cursor"
  geometry="primitive: box;"
  material="color: red; shader: flat; wireframe: true; opacity: 1"
>
  <a-entity
    id="${model}"
    gltf-model="#${model}-3d"
    shadow="receive: true; cast: true"
    aabb-collider="objects: .cursor; debug: false;"
  ></a-entity>

  <!-- <a-sphere
    class="teste"
    radius="0.3"
    color="pink"
    event-set__loaded="material.opacity: 0;"
    aabb-collider="objects: .cursor; debug: false;"
  ></a-sphere> -->
</a-entity>
