<a-entity
  wrapper="pivot: ${pivot};"
  class="cursor"
  geometry="primitive: box;"
  material="color: #FAC200; shader: standard; wireframe: false; opacity: 0"
  animation__in="property: material.opacity; startEvents: mouseenter; to: 0.3; dur: 150"
  animation__out="property: material.opacity; startEvents: mouseleave; to: 0; dur: 150"
>
  <a-entity id="${model}" gltf-model="#${model}-3d" shadow="receive: true; cast: true"></a-entity>

  <!-- <a-sphere
    class="teste"
    radius="0.3"
    color="pink"
    event-set__loaded="material.opacity: 0;"
    aabb-collider="objects: .cursor; debug: false;"
  ></a-sphere> -->
</a-entity>
