<!-- <a-sphere scale="3 3 3" position="0 0 -5"  class="collider"    
material="color:green;opacity:0.1">
   <a-box color="blue"></a-box>
</a-sphere> -->

<a-entity camera look-controls position="0 1.6 0">
  <a-cursor
    id="cursor"
    animation__click="property: scale; startEvents: click; from: 0.1 0.1 0.1; to: 1 1 1; dur: 150"
    animation__fusing="property: fusing; startEvents: fusing; from: 1 1 1; to: 0.1 0.1 0.1; dur: 1500"
    event-set__mouseenter="_event: hitstart; color: #ffd70a"
    event-set__mouseleave="_event: hitend; color: black"
    aabb-collider="objects: .cursor; collideNonVisible: true; enabled: true; debug: true;"
    raycaster="objects: .cursor; far: 10; showLine: false; lineColor: red; lineOpacity: 0.5;"
  >
    <a-cylinder
      color="crimson"
      height="4"
      radius="0.01"
      position="0 0 -2"
      rotation="90 0 0"
    ></a-cylinder>
  </a-cursor>
</a-entity>
<!-- raycaster-listener -->
<!-- raycaster="objects: [aabb-collider]; far: 10; showLine: false; lineColor: red; lineOpacity: 0.5" -->
<!-- raycaster="objects: [aabb-collider]; showLine: true; far: 10; lineColor: red; lineOpacity: 0.5" -->
<!-- raycaster="objects: a-entity[aabb-collider]" -->
<!-- event-set__mouseleave="_event: hitend; color: black" -->
<!-- event-set__mouseenter="_event: hitstart; color: #ffd70a" -->
